* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  width: 100vw;
  height: 100vh;
  --font-size: 1.5rem;

  --clr-bkg: rgb(26, 26, 26);
  --clr-prime: rgb(36, 36, 36);
  --clr-font: rgb(109, 109, 109, 0.5);
  --clr-sec: rgb(49, 49, 49);
  --clr-highlight: rgb(41, 92, 105);
  --clr-click: rgb(70, 135, 151);
  --clr-true: rgb(32, 104, 32);
  --clr-false: rgb(187, 23, 23);
}

html :is(body, main) {
  background: var(--clr-bkg);
  width: 100vw;
  height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}

html :is(button, input) {
  all: unset;
  font-size: 1.3rem;
  border-radius: 3rem;
  font-family: monospace;
  cursor: pointer;
}

#form-wrapper {
  display: block;
  width: 100%;
  height: 1005;

  padding: 1rem;
  filter: drop-shadow(8px 8px 30px var(--clr-highlight));
}
.txt__wrapper {
  background: var(--clr-prime);
  display: flex;
  align-items: center;
  padding-block: 4rem 3rem;
  padding-inline: 2rem;
  border-radius: 2rem 2rem 0 0;
}
.input__wrapper {
  display: grid;
  grid-column: 1fr;
  gap: 1rem;
}
input[type="password"] {
  background: var(--clr-sec);
  outline: none;

  padding: 1rem 2rem 1rem;
  color: var(--clr-highlight);
  border: 3px solid transparent;
}
input[type="password"]:focus {
  border: 3px solid var(--clr-highlight);
}

.check__test {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
  position: relative;
}
.test {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-inline: auto;
  border: 2px solid var(--clr-sec);
}

.symbol__true {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-inline: auto;
  background: var(--clr-true);
  border: 2px solid var(--clr-true);
  clip-path: polygon(7% 70%, 40% 100%, 100% 20%, 98% 2%, 40% 80%, 15% 60%);
}

.symbol__false {
  display: block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  margin-left: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  margin-inline: auto;
  background: var(--clr-false);
  border: 2px solid transparent;
  background: linear-gradient(
      45deg,
      transparent 45%,
      red 45% 55%,
      transparent 55%
    ),
    linear-gradient(135deg, transparent 45%, red 45% 55%, transparent 55%);
}

.btn__wrapper {
  width: 100%;
  background: var(--clr-prime);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding-bottom: 2rem;
  border-radius: 0 0 2rem 2rem;
}
.help__btn,
.reset__btn {
  border: 3px solid var(--clr-highlight);
  color: var(--clr-highlight);
  width: 3rem;
  background: none;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
}
.reset__btn:active {
  background: var(--clr-highlight);
}
.pw__btn {
  padding-block: 1rem;
  padding-inline: 2rem;
  color: var(--clr-highlight);
  border: 3px solid var(--clr-highlight);
  background: none;
  cursor: pointer;
}
.pw__btn:hover {
  background: var(--clr-highlight);
  color: var(--clr-bkg);
}
.pw__btn:active {
  background: var(--clr-click);
}

/*=====================================*/
.condition__wrapper {
  display: none;
  margin-top: -4rem;
  position: absolute;
  background: var(--clr-prime);
  border-radius: 4rem;
  top: 40%;
  left: -70%;
  width: 350px;
  height: 200px;
}
.condition {
  width: 100%;
  margin-inline: 20%;
  margin-block: 10%;

  list-style-type: circle;

  font-family: monospace;
  font-size: 1.1rem;
  color: var(--clr-font);
}

.condition:has(li) > li {
  margin: 0.4rem;
}
/*===========*/
